In [85]:
import pandas as pd

1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [86]:
# Reading the data
data=pd.read_html("https://www.genealogybranches.com/censuscosts.html")

In [87]:
data

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11,
                                                    0
 0  The U.S. population reached 300,000,000 on 17 ...]

2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [88]:
print("Number of HTML tables is ",len(data))   # to find how many number of tables

Number of HTML tables is  2

In [89]:
data=data[0]

In [90]:
data.columns=data.iloc[0]
data=data.iloc[1:]

In [91]:
data

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [92]:
print("Number of Rows in the data is " ,data.shape[0])

Number of Rows in the data is  23

In [93]:
print("Number of Columns in the data is" ,data.shape[1])

Number of Columns in the data is 4

In [94]:
print("Number of Null values in the data is ", data.isnull().sum())

Number of Null values in the data is  0
Census Year                0
Total Population           0
Census Cost                0
Average Cost Per Person    0
dtype: int64

4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.

1. In Census Year column , asterick symbol is present in one of the row. For numeric data year column, it is not required.

2. Census cost column , it would be having equal format. Only last two rows displaying as Billions.

3. Average cost per person column contains cents and some are displayed as dollars.

5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")

In [95]:
def cleanse_year(string):
    string=string.replace("*","")
    return string

In [96]:
# testing strings
cleanse_year("1989*")

'1989'

In [97]:
cleanse_year("20*10")

'2010'

6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.

In [98]:
data['Census Year']=data['Census Year'].apply(cleanse_year)

/home/shyam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
data

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

7. Repeat this process for column "Total Population", 	"Census Cost", 	"Average Cost Per Person". (define, test, and apply the function)

In [100]:
data['Total Population']=data['Total Population'].apply(cleanse_year)

/home/shyam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [101]:
data.tail()

0  Census Year Total Population     Census Cost Average Cost Per Person
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23        2010        308745538     $13 Billion                  $42.11

In [60]:
#data['Census Cost'].replace('$4.5 Billion','$4,500,000,000',inplace=True)
#data['Census Cost'].replace('$13 Billion','$13,000,000,000',inplace=True)

In [74]:
#data['Census Cost'].str.replace('$','').str.replace(',','').str.replace(' Billion',9).apply(eval)

In [102]:
def cleanse_cost(x):
    #x=x.replace(" Billion","000,000,000").replace(',','').replace('$','')
    a=x.str.replace('$','').str.replace(',','').str.replace(' Billion','e9')

    a=pd.to_numeric(a,errors='ignore')

    a=a.apply(lambda x: '%1.0f' % x)
    return a

In [103]:
d=" Billion"

In [106]:
data['Census Cost']=cleanse_cost(data['Census Cost'])

/home/shyam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [107]:
data.head()

0 Census Year Total Population Census Cost Average Cost Per Person
1        1790          3929214       44377              1.13 cents
2        1800          5308483       66109              1.24 cents
3        1810          7239881      178445              2.46 cents
4        1820          9633822      208526              2.16 cents
5        1830         12866020      378545              2.94 cents

In [69]:
a=data['Census Cost'].str.replace('$','').str.replace(',','').str.replace(' Billion','e9')

In [70]:
a=pd.to_numeric(a,errors='ignore')

In [71]:
a.apply(lambda x: '%1.0f' % x)

1           44377
2           66109
3          178445
4          208526
5          378545
6          833371
7         1423351
8         1969377
9         3421198
10        5790678
11       11547127
12       11854000
13       15968000
14       25117000
15       40156000
16       67527000
17       91462000
18      127934000
19      247653000
20     1078488000
21     2492830000
22     4500000000
23    13000000000
Name: Census Cost, dtype: object

In [111]:
data.tail(6)

0  Census Year Total Population  Census Cost Average Cost Per Person
18        1960        179323175    127934000             71.34 cents
19        1970        203302031    247653000                   $1.22
20        1980        226542199   1078488000                   $4.76
21        1990        248718301   2492830000                  $10.02
22        2000        281421906   4500000000                  $15.99
23        2010        308745538  13000000000                  $42.11

In [116]:
a=data['Average Cost Per Person'].str.replace(' cents','').str.replace('$','100*')

In [118]:
a=pd.to_numeric(a,errors='ignore')

In [120]:
a.apply(eval)

1        1.13
2        1.24
3        2.46
4        2.16
5        2.94
6        4.88
7        6.14
8        6.26
9        8.87
10      11.54
11      18.33
12      15.54
13      17.07
14      23.76
15      32.71
16      51.29
17      60.44
18      71.34
19     122.00
20     476.00
21    1002.00
22    1599.00
23    4211.00
Name: Average Cost Per Person, dtype: float64

In [121]:
def cleanse_avg(x):
    x=x.str.replace(' cents','').str.replace('$','100*')
    a=pd.to_numeric(x,errors='ignore')
    a=a.apply(eval)
    return a

In [123]:
data['Average Cost Per Person']=cleanse_avg(data['Average Cost Per Person'])

/home/shyam/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

8. After all columns are cleansed, save the clenased dataframe to a file named "census_cost_cleansed.csv" using CSV format.

In [126]:
data.to_csv("census_cost_cleansed.csv",index=False)

9. Use Pandas to read the saved cleansed file and explore to make sure it is clean.

In [127]:
pd.read_csv("census_cost_cleansed.csv")

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                     1.13
1          1800           5308483        66109                     1.24
2          1810           7239881       178445                     2.46
3          1820           9633822       208526                     2.16
4          1830          12866020       378545                     2.94
5          1840          17069458       833371                     4.88
6          1850          23191876      1423351                     6.14
7          1860          31443321      1969377                     6.26
8          1870          38558371      3421198                     8.87
9          1880          50155783      5790678                    11.54
10         1890          62979766     11547127                    18.33
11         1900          76303387     11854000                    15.54
12         1910          91972266     15968000                    17.07
13         1920         105710620     25117000                    23.76
14         1930         122775046     40156000                    32.71
15         1940         131669275     67527000                    51.29
16         1950         151325798     91462000                    60.44
17         1960         179323175    127934000                    71.34
18         1970         203302031    247653000                   122.00
19         1980         226542199   1078488000                   476.00
20         1990         248718301   2492830000                  1002.00
21         2000         281421906   4500000000                  1599.00
22         2010         308745538  13000000000                  4211.00