# SP21-DATA601-HW-4

Due Date: 03/09/2021 (Tuesday) by 23:59 pm

# Part-I: Set-up

1. Make sure that you make a copy of this notebook.

2. Run the cell below.

In [ ]:
## Don't change this cell and make sure that you run this cell.
!wget https://github.com/mguner/DATA601_SP21/raw/main/data/Archive.zip

--2021-03-10 11:49:19--  https://github.com/mguner/DATA601_SP21/raw/main/data/Archive.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/mguner/DATA601_SP21/main/data/Archive.zip [following]
--2021-03-10 11:49:20--  https://raw.githubusercontent.com/mguner/DATA601_SP21/main/data/Archive.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 104858 (102K) [application/zip]
Saving to: ‘Archive.zip’

Archive.zip         100%[===================>] 102.40K  --.-KB/s    in 0.02s

2021-03-10 11:49:20 (5.13 MB/s) - ‘Archive.zip’ saved [104858/104858]

3. Unzip the file

There should be a zipped file in `/content/Archive.zip` unzip this file in `content` folder. (Note: `content` directory is the current working directory. So you don't need to do anything extra)

In [ ]:
from google.colab import drive

In [ ]:
!unzip -uq "/content/Archive.zip"

__Note:__ If you cannot solve this problem then you will not be able to work on this homework. In this case, you can buy the answer by reaching out to me as an exchange of 20% of your grade.

In [ ]:
## your answer is here

4. Import pandas and read the datasets

In [ ]:
## Assuming you were able to unzip the file.
## Don't change the names of the datasets.
import pandas as pd
maryland_hs =pd.read_csv('/content/maryland_hs.csv', index_col= 0)
dmv_hs = pd.read_csv('/content/dmv_hs.csv', index_col= 0)

In [ ]:
maryland_hs.head()

                              School Name  ... Urban-centric Locale [Public School] 2018-19
0                           ABERDEEN HIGH  ...                          22-Suburb: Mid-size
1      ACADEMY OF HEALTH SCIENCES AT PGCC  ...                             21-Suburb: Large
2  ACHIEVEMENT ACADEMY @ HARBOR CITY HIGH  ...                               11-City: Large
3                    ALBERT EINSTEIN HIGH  ...                             21-Suburb: Large
4                           ALLEGANY HIGH  ...                               13-City: Small

[5 rows x 13 columns]

In [ ]:
dmv_hs.head()

                   school_name  ... state_school_id
0          A G RICHARDSON ELEM  ...  VA-024-0240240
1               A M DAVIS ELEM  ...  VA-021-0210620
2            A. HENDERSON ELEM  ...  VA-075-0750330
3  A. LINWOOD HOLTON GOV. SCH.  ...  VA-268-2680010
4   A. MARIO LOIEDERMAN MIDDLE  ...    MD-15-150787

[5 rows x 12 columns]

# Part-II: Questions

## Problem

Rename columns in the [snake case](https://en.wikipedia.org/wiki/Snake_case#:~:text=Snake%20case%20(stylized%20as%20snake_case,subroutine%20names%2C%20and%20for%20filenames.) format.

In [ ]:
## your answer is here

maryland_hs.columns=maryland_hs.columns.str.replace(' ','_')
maryland_hs.columns=maryland_hs.columns.str.lower()

In [ ]:
maryland_hs.columns

Index(['school_name', 'state_name_[public_school]_latest_available_year',
       'lowest_grade_offered_[public_school]_2018-19',
       'highest_grade_offered_[public_school]_2018-19',
       'total_students_all_grades_(excludes_ae)_[public_school]_2018-19',
       'free_and_reduced_lunch_students_[public_school]_2018-19',
       'reduced-price_lunch_eligible_students_[public_school]_2018-19',
       'latitude_[public_school]_2018-19', 'longitude_[public_school]_2018-19',
       'magnet_school_[public_school]_2018-19',
       'charter_school_[public_school]_2018-19',
       'shared_time_school_[public_school]_2018-19',
       'urban-centric_locale_[public_school]_2018-19'],
      dtype='object')

## Problem: Extra

Can you get rid of the strings "[public_school]" and "2018-19" and "(excludes_ae)" from column names?

In [ ]:
## your answer is here
maryland_hs.columns=maryland_hs.columns.str.replace("public_school", '')
maryland_hs.columns=maryland_hs.columns.str.replace("2018-19", '')
maryland_hs.columns=maryland_hs.columns.str.replace("excludes_ae", '')
maryland_hs.columns = maryland_hs.columns.str.replace(r"[[]]", "")
maryland_hs.columns = maryland_hs.columns.str.replace(r"[()__]", "")
#maryland_hs.columns = maryland_hs.columns.str.replace(r"[_", "")
#maryland_hs.columns.str.replace("_[]_", '')
#maryland_hs.columns.str.strip('[public_school]')
#maryland_hs.columns = maryland_hs.columns.str.replace('2018-19', '')
#maryland_hs.columns = maryland_hs.columns.str.replace('(excludes_ae)', '')
#df.columns = df.columns.str.rstrip('_x')

/usr/local/lib/python3.7/dist-packages/pandas/core/strings.py:710: FutureWarning: Possible nested set at position 1
  compiled = re.compile(pat, flags=flags)

In [ ]:
maryland_hs.columns

Index(['schoolname', 'statenamelatestavailableyear', 'lowestgradeoffered',
       'highestgradeoffered', 'totalstudentsallgrades',
       'freeandreducedlunchstudents', 'reduced-priceluncheligiblestudents',
       'latitude', 'longitude', 'magnetschool', 'charterschool',
       'sharedtimeschool', 'urban-centriclocale'],
      dtype='object')

In [ ]:
## Don't change anything in this cell
## Make sure you run this cell

new_columns = ['school_name',
 'state_name_latest_available_year',
 'lowest_grade_offered',
 'highest_grade_offered',
 'total_students_all_grades',
 'free_and_reduced_lunch_students',
 'reduced-price_lunch_eligible_students',
 'latitude',
 'longitude',
 'magnet_school',
 'charter_school',
 'shared_time_school',
 'urban-centric_locale']
maryland_hs.columns = new_columns
maryland_hs.head(2)

                          school_name  ... urban-centric_locale
0                       ABERDEEN HIGH  ...  22-Suburb: Mid-size
1  ACADEMY OF HEALTH SCIENCES AT PGCC  ...     21-Suburb: Large

[2 rows x 13 columns]

## Problem

In both `maryland_hs` and `dmv_hs` rename the column `state_name_latest_available_year` with `state_name`. Make sure that the changes reflected in the original dataset.

In [ ]:
dmv_hs.columns

Index(['school_name', 'state_name_latest_available_year',
       'school_id_nces_assigned_latest_available_year', 'county_name',
       'mailing_address_3', 'location_zip', 'magnet_school',
       'shared_time_school', 'urban_centric_locale', 'school_wide_title_i',
       'state_agency_id', 'state_school_id'],
      dtype='object')

In [ ]:
## your answer is here
maryland_hs.rename(columns={'state_name_latest_available_year':'state_name'},inplace=True)
dmv_hs.rename(columns={'state_name_latest_available_year':'state_name'},inplace=True)

In [ ]:
maryland_hs.head()

                              school_name  ... urban-centric_locale
0                           ABERDEEN HIGH  ...  22-Suburb: Mid-size
1      ACADEMY OF HEALTH SCIENCES AT PGCC  ...     21-Suburb: Large
2  ACHIEVEMENT ACADEMY @ HARBOR CITY HIGH  ...       11-City: Large
3                    ALBERT EINSTEIN HIGH  ...     21-Suburb: Large
4                           ALLEGANY HIGH  ...       13-City: Small

[5 rows x 13 columns]

In [ ]:
dmv_hs.head(2)

           school_name state_name  ...  state_agency_id state_school_id
0  A G RICHARDSON ELEM   Virginia  ...           VA-024  VA-024-0240240
1       A M DAVIS ELEM   Virginia  ...           VA-021  VA-021-0210620

[2 rows x 12 columns]

## Problem

a) How many different states are there in the `dmv_highschool` dataset? Make sure you check before jump into a conclusion.

In [ ]:
## your answer is here
dmv_hs['state_name'].nunique()

6

b) Standardize the state names in __both__ dataframes. First letter capital, all others lower case. e.g. MArylanD --> Maryland. Double check your answer.

In [ ]:
## your answer is here
maryland_hs['state_name']=maryland_hs['state_name'].str.title()
dmv_hs['state_name']=dmv_hs['state_name'].str.title()

In [ ]:
## double check here

## Problem

a) Check in `maryland_hs` dataset whether there are any repeating `school_names`

In [ ]:
## your answer is here
name=maryland_hs['school_name'].value_counts()
name[name>1]

CHESAPEAKE HIGH            2
FREDERICK DOUGLASS HIGH    2
Name: school_name, dtype: int64

b) Check whether these schools are just a repetition or different schools.

In [ ]:
## your answer is here
maryland_hs[maryland_hs['school_name']=="CHESAPEAKE HIGH"]

        school_name state_name  ... shared_time_school urban-centric_locale
36  CHESAPEAKE HIGH   Maryland  ...               2-No     21-Suburb: Large
37  CHESAPEAKE HIGH   Maryland  ...               2-No     21-Suburb: Large

[2 rows x 13 columns]

In [ ]:
maryland_hs[maryland_hs['school_name']=="FREDERICK DOUGLASS HIGH"]

                school_name state_name  ... shared_time_school urban-centric_locale
67  FREDERICK DOUGLASS HIGH   Maryland  ...               2-No       11-City: Large
68  FREDERICK DOUGLASS HIGH   Maryland  ...               2-No     41-Rural: Fringe

[2 rows x 13 columns]

c) Merge data frames in such a way for each high school on the `maryland_hs` we would have missing columns from `dmv_hs` dataset. Hint: Resulting dataframe should have shape (204, 21). If you cannot make it exactly in this format, submit the best solution you can find.

In [ ]:
## your answer is here
merged_df=pd.merge(maryland_hs,dmv_hs) 
merged_df # Two schools are similar that s why 206 , 2 extra

                                school_name  ... state_school_id
0                             ABERDEEN HIGH  ...    MD-12-120270
1        ACADEMY OF HEALTH SCIENCES AT PGCC  ...    MD-16-161350
2    ACHIEVEMENT ACADEMY @ HARBOR CITY HIGH  ...    MD-30-300413
3                      ALBERT EINSTEIN HIGH  ...    MD-15-150789
4                             ALLEGANY HIGH  ...    MD-01-010606
..                                      ...  ...             ...
201                         WILDE LAKE HIGH  ...    MD-13-130516
202                       WILLIAMSPORT HIGH  ...    MD-21-210204
203                  WINSTON CHURCHILL HIGH  ...    MD-15-150602
204                       WINTERS MILL HIGH  ...    MD-06-060704
205  WOODLAWN HIGH CENTER FOR PRE-ENG. RES.  ...    MD-03-030172

[206 rows x 21 columns]

In [ ]:
#df.shape

## Problem

For each county find the average number of students. Sort the result in an descending order.

In [ ]:
## your answer is here
df=merged_df.groupby('county_name')['total_students_all_grades'].mean()

In [ ]:
df.sort_values(ascending=False)

county_name
Montgomery County         1972.600000
Anne Arundel County       1761.230769
St. Mary's County         1719.000000
Howard County             1467.666667
Prince George's County    1352.148148
Calvert County            1279.750000
Charles County            1211.000000
Talbot County             1196.000000
Queen Anne's County       1189.000000
Baltimore County          1180.037037
Frederick County          1172.000000
Harford County            1124.500000
Wicomico County            955.750000
Cecil County               913.600000
Carroll County             911.111111
Washington County          850.285714
Caroline County            823.500000
Allegany County            742.666667
Baltimore city             704.346154
Worcester County           672.666667
Dorchester County          656.000000
Garrett County             577.000000
Kent County                563.000000
Name: total_students_all_grades, dtype: float64

## Problem

For each school find the ratio of `free_and_reduced_lunch_students` to the total number of students who are in the same __zipcode__ with this school. Record these values in a new column named `ratio`. Suppose in high school A there are 13 students eligile for free and reduced lunch and the zipcode of the school is 20001. If there is total of 200 students in the zipcode 20001 then for High School A your code should return 13/200. Hint: We used similar method at the end of sixth class.

In [ ]:
#merged_df['location_zip'][0]
ratio=[]
for i in range(0,len(merged_df['location_zip'])):
  #print(merged_df['school_name'][i])
  merged_df['ratio']=(merged_df[merged_df.location_zip == merged_df['location_zip'][i]]['free_and_reduced_lunch_students'])/ (merged_df[merged_df.location_zip == merged_df['location_zip'][i]].total_students_all_grades.sum())
  #i+=1

In [ ]:
merged_df['ratio']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
201         NaN
202         NaN
203         NaN
204         NaN
205    0.292805
Name: ratio, Length: 206, dtype: float64

In [ ]:
ratio

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
merged_df['ratio']=(merged_df[merged_df.location_zip == merged_df['location_zip'][i]]['free_and_reduced_lunch_students'])/ (merged_df[merged_df.location_zip == merged_df['location_zip'][i]].total_students_all_grades.sum())
  #i+=1

In [ ]:
## Double Check for the zipcode 21157
merged_df[merged_df.location_zip == 21157]['free_and_reduced_lunch_students']/ merged_df[merged_df.location_zip == 21157].total_students_all_grades.sum()

In [ ]:
## This cell should produce the same result as above.
merged_df[merged_df.location_zip == 21157].ratio

# Part-III: Submitting Your Work

[Please Submit Your Work to This Google Form](https://forms.gle/XgA7W56KuFAASYgJ9)